:root {
    --cor0: #0732f1;
    --cor1: #004F90;
    --cor2: #4693ce;
    --cor3: #4ba6e2;
    --cor4: #ebf6ff;
    --cor5: #000219;
    --cor6: #FFBE00;
    --cor7: #222222; 
    
}
/*------------------------------------------Formatacoes globais------------------------------------*/
article{
    margin: 7% 7%;
}

/*-----------------------------------------------Carrossel Principal--------------------------------------*/

main {
    position: relative;
    margin-bottom: -8vh;
}

#carouselExampleInterval{
    margin-top: -8vh;
}

#carouselExampleInterval img{
    height: 50vh;
    width: 100%;
}

/*---------------------------------------------Categorias-------------------------------------------------*/

.subtitulo{
margin: 0% 0% 3% 0%;
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
height: 10vh;
}

.subtitulo h2{
color: var(--cor7);
border-bottom: 2px solid var(--cor7);
padding-bottom: 1.5%;
}

.subtitulo button{
background-color: var(--cor1);
transition: 0.30s;
border-radius: 50%;
border: solid 0px;
}

.subtitulo button:hover{
    background-color: var(--cor0);
    transition: 0.30s;
}


.subtitulo .seta{
    width: 50px;
    height: 50px;
    filter: invert(1);
    padding: 20% 0%;
}

.subtitulo .setaEsquerda{
    rotate: 180deg;
}

#carouselExampleInterval2 .carousel-item div{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

#carouselExampleInterval2 button{
height: 100%;
display: flex;
align-items: center;
margin: 0% 1.8%;
}

#carouselExampleInterval2 a{
padding: 0.5% 0%;
height: 100%;
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

#carouselExampleInterval2 a svg{
width: 100%;
margin-bottom: 20%;
}

#carouselExampleInterval2 a h4{
    all: unset;
    font-size: 1.5rem;
    color: var(--cor7);
}


/*---------------------------------------Lojas recomendadas-------------------------------*/
.lojasRecomendadas .containerImagemTexto{
display: flex;
justify-content: space-between;
}

.lojasRecomendadas .containerImagemTexto div h2{
margin: 5% 0%;
}

.lojasRecomendadas .containerImagemTexto img{
height: 300px;
width: 450px;
cursor: pointer;
}

.lojasRecomendadas .distancia p{
all: unset;
font-size: 1.4rem;
font-weight: 400;
color: var(--cor0);
}

.lojasRecomendadas .distancia{
    display: flex;
    align-items: end;
    height: 10%;
    gap: 2%;
}

.lojasRecomendadas .distancia svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*--------------------------------------banner-----------------------------*/
.banner{
    margin: 7% 0%;
    width: 100%;
    height: 50vh;
}

.banner img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/*----------------------------------------Produtos mais buscados-----------------------*/
.produtosBuscados .subtitulo{
all: unset;
display: flex;
gap: 0% 3%;
}

.produtosBuscados .subtitulo a{
text-decoration: none;
border: 1px solid var(--cor7);
color: var(--cor7);
border-radius: 32px;
height: 10%;
padding: 0.5% 1%;
transition: 0.25s;
}

.produtosBuscados .subtitulo a:hover{
transition: 0.25s;
transform: scale(1.05);
border-color: var(--cor0);
color: var(--cor0);
}

/*------------------------------------Responsividade---------------------------------*/
@media (min-width: 280px) and (max-width: 350px) {
    main {
        position: relative;
        top: -8vh !important;
        margin-bottom: 18vh;
    }

    #carouselExampleInterval{
        margin-top: 0%;
    }
    /*-------------------------Procure por categorias---------------------------*/

    .subtitulo{
        display: flex;
    }

    .subtitulo h2{
        font-size: 1.2rem;
    }

    .subtitulo div{
        display: flex;
        margin-top: -3%;
        gap: 5%;
    }

    .subtitulo div button{
        height: 28px;
        width: 28px;
    }

    .subtitulo div button svg{
        height: 28px;
        width: 28px;
    }

    .icons-categorias svg{
        width: 65px; 
        height: 65px;
    }

    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1rem;
        text-align: center;
    }

    #carouselExampleInterval2 .icons-categorias .eletrodomesticoText{
        font-size: 0.8rem;
    }

    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 130px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: -2%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

        /*---------------------------------Banner desconto-----------------------------*/
        .banner .bannerDesconto{
            height: 80%;
            width: 100%;
        }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -10vh;
        }
        
    .produtosBuscados .subtitulo h2{
        font-size: 1rem;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -1%;
        padding: 1% 1%;
        font-size: 0.9rem;
        text-align: center;
    }
}

@media (min-width: 351px) and (max-width: 400px) {
    main {
        margin-bottom: -12vh;
        height: 37vh;
    }

    #carouselExampleInterval{
        margin-top: 0%;
    }
    
    #carouselExampleInterval img{
        height: 37vh;
        width: 100%;
    }

    /*-------------------------Procure por categorias---------------------------*/

    .subtitulo{
        display: flex;
        margin-top: 30vh;
    }

    .subtitulo h2{
        font-size: 1.4rem;
    }

    .subtitulo div{
        display: flex;
        margin-top: 0%;
        gap: 5%;
    }

    .subtitulo div button{
        height: 36px;
        width: 36px;
    }

    .subtitulo div button svg{
        height: 36px;
        width: 36px;
    }

    .icons-categorias svg{
        width: 75px; 
        height: 75px;
    }

    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1rem;
        text-align: center;
    }


    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 130px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: -2%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .banner .bannerDesconto{
        height: 60%;
        width: 100%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -16vh;
        }

    .produtosBuscados .subtitulo h2{
        font-size: 1.15rem;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.8%;
        padding: 0.6% 3%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 401px) and (max-width: 520px) {
    main {
        margin-bottom: -12vh;
        height: 37vh;
    }
    #carouselExampleInterval img{
        height: 37vh;
        width: 100%;
    }

    /*-------------------------Procure por categorias---------------------------*/

    .subtitulo{
        display: flex;
        margin-top: 30vh;
    }

    .subtitulo h2{
        font-size: 1.4rem;
    }

    .subtitulo div{
        display: flex;
        margin-top: 0%;
        gap: 5%;
    }

    .subtitulo div button{
        height: 36px;
        width: 36px;
    }

    .subtitulo div button svg{
        height: 36px;
        width: 36px;
    }

    .icons-categorias svg{
        width: 75px; 
        height: 75px;
    }

    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1rem;
        text-align: center;
    }

    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 130px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: -2%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .banner .bannerDesconto{
        height: 60%;
        width: 100%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -16vh;
        }

    .produtosBuscados .subtitulo h2{
        font-size: 1.15rem;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.8%;
        padding: 0.6% 3%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 520px) and (max-width:  999px) {
    main {
        margin-bottom: -12vh;
        height: 37vh;
    }
    #carouselExampleInterval img{
        height: 37vh;
        width: 100%;
    }

    #carouselExampleInterval{
        margin-top: 0%;
    }

    /*-------------------------Procure por categorias---------------------------*/

    .subtitulo{
        display: flex;
        margin-top: 30vh;
    }

    .subtitulo h2{
        font-size: 1.4rem;
    }

    .subtitulo div{
        display: flex;
        margin-top: 0%;
        gap: 5%;
    }

    .subtitulo div button{
        height: 36px;
        width: 36px;
    }

    .subtitulo div button svg{
        height: 36px;
        width: 36px;
    }

    .icons-categorias svg{
        width: 75px; 
        height: 75px;
    }

    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1rem;
        text-align: center;
    }

    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 130px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: -2%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .bannerDesconto{
        height: 70%;
    }

    .banner .bannerDesconto{
        height: 70%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -12vh;
        }

    .produtosBuscados .subtitulo h2{
        font-size: 1.15rem;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.8%;
        padding: 0.6% 3%;
        font-size: 1rem;
        text-align: center;
    }
}

@media (min-width: 1000px) and (max-width:  1500px) {
    main {
        margin-bottom: -24vh;
        margin-top: 13vh !important;
        height: 62vh;
    }

    #carouselExampleInterval{
        margin-top: 10vh;
    }

    #carouselExampleInterval img{
        height: 62vh;
    }

    /*-------------------------Procure por categorias---------------------------*/

    .subtitulo{
        display: flex;
        margin-top: 30vh;
        margin-bottom: -5%;
    }

    .subtitulo h2{
        font-size: 2.4rem;
    }

    .subtitulo div{
        display: flex;
        margin-top: 0%;
        gap: 5%;
    }

    .subtitulo div button{
        height: 56px;
        width: 56px;
    }

    .subtitulo div button svg{
        height: 56px;
        width: 56px;
    }

    .icons-categorias svg{
        height: 100px;
    }

    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 2rem;
        text-align: center;
    }

    #carouselExampleInterval2 .icons-categorias .eletrodomesticoText{
        font-size: 1.7rem;
    }

    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .subtitulo{
        margin-bottom: 5%;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 330px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .bannerDesconto{
        height: 100%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: 0vh;
    }

    .produtosBuscados .subtitulo h2{
        font-size: 1.8rem;
    }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.2%;
        padding: 0.3% 3%;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media (min-height: 1000px) and (max-height: 1120px) {
    /*-------------------------Procure por categorias---------------------------*/
    .subtitulo{
        display: flex;
        margin-top: 22vh;
    }

    .subtitulo h2{
        font-size: 2.2rem;
    }

    .subtitulo div button{
        height: 52px;
        width: 52px;
    }

    .subtitulo div button svg{
        height: 52px;
        width: 52px;
    }
    
    #carouselExampleInterval2 a svg{
    width: 100%;
    margin-bottom: 10%;
    }

    .icons-categorias{
        margin-top: -8%;
        margin-bottom: 42%;
    }


    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1.8rem;
        text-align: center;
    }


    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 280px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .bannerDesconto{
        height: 70%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -12vh;
        }

    .produtosBuscados .subtitulo h2{
        font-size: 1.3rem;;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.8%;
        padding: 0.6% 3%;
        font-size: 1.3rem;;
        text-align: center;
    }
}

@media (min-height: 1121px) and (max-height: 1320px) {
    #carouselExampleInterval{
        margin-top: 0vh;
    }

    .subtitulo{
        display: flex;
        margin-top: 22vh;
    }

    .subtitulo h2{
        font-size: 2.2rem;
    }

    .subtitulo div button{
        height: 52px;
        width: 52px;
    }

    .subtitulo div button svg{
        height: 52px;
        width: 52px;
    }
    
    #carouselExampleInterval2 a svg{
    width: 100%;
    margin-bottom: 10%;
    }

    .icons-categorias{
        margin-top: -8%;
        margin-bottom: 42%;
    }


    #carouselExampleInterval2 .icons-categorias .carousel-item div{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        height: 55vh;
    }

    #carouselExampleInterval2 .icons-categorias h4 {
        font-size: 1.8rem;
        text-align: center;
    }


    /*-------------------------Lojas recomendadas---------------------------*/
    .lojasRecomendadas{
        margin-top: -30vh;
    }

    .lojasRecomendadas .containerImagemTexto{
        flex-direction: column;
        justify-content: space-between;
    }

    .lojasRecomendadas .containerImagemTexto img{
        height: 280px;
        width: 100%;
        cursor: pointer;
    }

    .lojasRecomendadas .containerImagemTexto div h2{
        margin: 2% 0%;
        font-size: 1.2rem;
    }

    .lojasRecomendadas .distancia{
        margin-bottom: 5%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: baseline;
        gap: 0%;
    }

    .lojasRecomendadas .distancia svg{
        display: flex;
        flex-direction: row;
        margin-left: 0%;
        height: 20px;
    }

    .lojasRecomendadas .distancia p{
        all: unset;
        font-size: 1rem;
        font-weight: 400;
        color: var(--cor0);
    }

    /*---------------------------------Banner desconto-----------------------------*/
    .bannerDesconto{
        height: 70%;
    }

    /*-------------------------Produtos mais Buscados---------------------------*/
    .produtosBuscados{
        margin-top: -12vh;
        }

    .produtosBuscados .subtitulo h2{
        font-size: 1.4rem;
        }
        
    .produtosBuscados .subtitulo a{
        margin-top: -0.8%;
        padding: 0.6% 3%;
        font-size: 1.3rem;
        text-align: center;
    }
}
/*------------------------------------Responsividade---------------------------------*/

