* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: inter;
}

:root {
    --cor1: #004F90;
    --cor2: #4693ce;
    --cor3: #4ba6e2;
    --cor4: #ebf6ff;
    --cor5: #000219;

}

/*---------------------------------Formatações Globais---------------------------------*/
.button{
    padding: 6px;
    border: none;
    font-size: 1em;
    background-color: transparent;
    color: var(--cor2);
    font-weight: bold;
    border: solid var(--cor2) 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button:hover {
    transition: ease .4s ease;
    scale: 1.02;
}

/*---------------------------main----------------------------*/

.menu {
    padding: 10px;
    border-bottom: 1px solid var(--cor2);
    display: flex;
    flex-direction: column;
}

.botoesMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonBusca {
    width: 120px;
    padding: 6px;
    border: none;
    font-size: 1em;
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 5px;
}

.filtrosTitulo {
    margin: 15px;
    font-size: 1.3em;
    width: fit-content;
}

.filtrosTitulo::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--cor2);
}

.filtrosAtivosButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: start;
}

.filtroAtivoButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 20px;
    padding: 10px;
    gap: 5px;
    border: none;
    background-color: #3c3c3c46;
}

.filtroAtivoButton form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtroAtivoButton form input {
    background-color: transparent;
}

.filtroAtivoForm {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    border: none;
}

/*---------------------------barra lateral----------------------------*/
/*---------------------------Filtros*/
.filtrosCorpo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.buttonFiltroSelecao {
    width: 150px;
}

.radioFiltro {
    display: none;
}

.radioFiltro:checked+.buttonFiltroSelecao {
    background-color: var(--cor2);
    color: var(--cor4);
}

.labelSubmitFiltro {
    width: 100%;
    background-color: transparent;
    color: var(--cor2);
    font-weight: bold;
    border: 2px var(--cor2) solid;
    height: 40px;
    border-radius: 6px;
    transition: ease .4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 3%;
}
.labelSubmitFiltro:hover {
    background-color: var(--cor2);
    color: var(--cor4);
    transition: ease .4s;
}
.texoMarca{
    width: 90%;
    padding: 10px;
    border: solid var(--cor2) 1px;
    border-radius: 6px;
    outline: none;
}
.submitFiltro{
    display: none;
}
.preco{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px 30px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    text-align: center;
}
.preco input{
    padding: 10px;
    border: solid var(--cor2) 1px;
    border-radius: 6px;
    outline: none;
}
.preco input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.preco input:focus{
    border: solid 2px var(--cor2);
}
/*---------------------------Filtros*/
/*---------------------------Ordenar*/
.ordenarCorpo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ordenarCorpo label{
    width: 100%;
}
.ordenarInput {
    display: none;
}
.ordemMarcada{
    background-color: var(--cor2) !important;
    color: var(--cor4) !important;
}

/*---------------------------Ordenar*/

/*---------------------------barra lateral----------------------------*/


footer{
    position: relative;
    top: 20vh;
}
